@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-brown
  color: #fff

body
  font-size: 18px
  min-width: 320px
  position: relative
  line-height: 1.3
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-brown
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.btn
  display: inline-block
  line-height: 1
  white-space: nowrap
  text-align: center
  text-transform: uppercase
  +mt(.3s)
  font-weight: 700
  padding: 17px 22px 15px
  border: none
  cursor: pointer

.btn-brown
  background-color: $acc-brown
  color: #fff
  &:hover, &:active, &:focus
    background-color: darken($acc-brown, 5%)
    color: #fff

.btn-dark
  background-color: $acc-dark
  color: #fff
  &:hover, &:active, &:focus
    background-color: lighten($acc-dark, 10%)
    color: #fff

.section-title
  text-align: center
  font-size: 48px
  text-transform: uppercase
  font-family: "BebasNeue", sans-serif
  font-weight: 700
  color: $acc-brown
  line-height: 1
  margin-bottom: 0

.sexangle
  margin: 20px 0
  width: 80px
  height: 40px
  background: #f8b99b
  position: relative
  transform: rotate(90deg)
  &:before, &:after
    content: ""
    width: 0
    height: 0
    position: absolute
    left: 0
    border-left: 40px solid transparent
    border-right: 40px solid transparent
  &:before
    top: -25px
    border-bottom: 25px solid #f8b99b
  &:after
    bottom: -25px
    border-top: 25px solid #f8b99b

.parallax
  position: absolute
  width: 100%

